<div class="artifacts">
  <h2>Artifacts</h2>
  <ul>
    <li *ngFor="let artifact of artifacts" (click)="selectArtifact(artifact)">
      {{ artifact.name }}
    </li>
  </ul>
  <button (click)="selectArtifact({ id: 0, name: '', description: '', image_url: '', artist_id: 0, art_type_id: 0 })">Add Artifact</button>
</div>

<div *ngIf="selectedArtifact" class="artifact-details">
  <h2>Artifact Details</h2>
  <div>
    <label for="name">Name:</label>
    <input [(ngModel)]="selectedArtifact.name" id="name" placeholder="Artifact Name" *ngIf="selectedArtifact" />
  </div>
  <div>
    <label for="description">Description:</label>
    <input [(ngModel)]="selectedArtifact.description" id="description" placeholder="Description" *ngIf="selectedArtifact" />
  </div>
  <div>
    <label for="image_url">Image URL:</label>
    <input [(ngModel)]="selectedArtifact.image_url" id="image_url" placeholder="Image URL" *ngIf="selectedArtifact" />
  </div>
  <button (click)="selectedArtifact && selectedArtifact.id ? updateArtifact(selectedArtifact) : createArtifact(selectedArtifact)">
    Save
  </button>
  <button *ngIf="selectedArtifact && selectedArtifact.id" (click)="deleteArtifact(selectedArtifact)">
    Delete
  </button>
  <button (click)="selectedArtifact = null">Cancel</button>
</div>
