<div class="artifacts">
  <h2>Artifacts</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Image URL</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let artifact of artifacts" (click)="selectArtifact(artifact)">
        <td>{{ artifact.name }}</td>
        <td>{{ artifact.description }}</td>
        <td>{{ artifact.image_url }}</td>
        <td>
          <button mat-raised-button color="primary" (click)="selectArtifact(artifact)">Edit</button>
          <button mat-raised-button color="warn" (click)="deleteArtifact(artifact)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button mat-raised-button color="primary" (click)="selectArtifact({ id: 0, name: '', description: '', image_url: '', artist_id: 0, art_type_id: 0 })">Add Artifact</button>
</div>

<div *ngIf="selectedArtifact" class="artifact-details">
  <h2>Artifact Details</h2>
  <form>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="selectedArtifact.name" id="name" placeholder="Artifact Name" *ngIf="selectedArtifact" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput [(ngModel)]="selectedArtifact.description" id="description" placeholder="Description" *ngIf="selectedArtifact" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Image URL</mat-label>
        <input matInput [(ngModel)]="selectedArtifact.image_url" id="image_url" placeholder="Image URL" *ngIf="selectedArtifact" />
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="button" (click)="selectedArtifact && selectedArtifact.id ? updateArtifact(selectedArtifact) : createArtifact(selectedArtifact)">
      Save
    </button>
    <button mat-raised-button color="warn" *ngIf="selectedArtifact && selectedArtifact.id" type="button" (click)="deleteArtifact(selectedArtifact)">
      Delete
    </button>
    <button mat-raised-button type="button" (click)="selectedArtifact = null">Cancel</button>
  </form>
</div>
