<div *ngIf="selectedArtist" class="artist-details">
  <h2>Artist Details</h2>
  <form [formGroup]="artistForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name:</label>
      <input formControlName="name" id="name" placeholder="Artist Name" />
    </div>
    <button type="submit">Save</button>
    <button *ngIf="selectedArtist.id" (click)="deleteArtist(selectedArtist)">Delete</button>
    <button type="button" (click)="artistForm.reset(); selectedArtist = null">Cancel</button>
  </form>
</div>
