<h2>Create User</h2>
<form [formGroup]="createUserForm">
  <table>
    <tr>
      <td><label for="new_user_first_name">First Name:</label></td>
      <td><input formControlName="first_name" id="new_user_first_name" placeholder="User First Name" /></td>
    </tr>
    <tr>
      <td><label for="new_user_last_name">Last Name:</label></td>
      <td><input formControlName="last_name" id="new_user_last_name" placeholder="User Last Name" /></td>
    </tr>
    <tr>
      <td><label for="new_user_email">Email:</label></td>
      <td><input formControlName="email" id="new_user_email" placeholder="User Email" /></td>
    </tr>
    <tr>
      <td><label for="new_user_password">Password:</label></td>
      <td><input formControlName="password" id="new_user_password" placeholder="User Password" type="password" /></td>
    </tr>
    <tr>
      <td><label for="new_user_admin">Admin:</label></td>
      <td><input formControlName="admin" id="new_user_admin" type="checkbox" /></td>
    </tr>
  </table>
  <button (click)="createUser()">Add User</button>
</form>

<h2>List of Users</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Admin</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.admin }}</td>
      <td>
        <button (click)="selectUser(user)">Edit</button>
        <button (click)="deleteUser(user)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
