<div *ngIf="selectedUser" class="user-details">
  <h2>User Details</h2>
  <div>
    <label for="first_name">First Name:</label>
    <input [(ngModel)]="selectedUser.first_name" id="first_name" placeholder="User First Name" name="first_name" />
  </div>
  <div>
    <label for="last_name">Last Name:</label>
    <input [(ngModel)]="selectedUser.last_name" id="last_name" placeholder="User Last Name" name="last_name" />
  </div>
  <div>
    <label for="email">Email:</label>
    <input [(ngModel)]="selectedUser.email" id="email" placeholder="User Email" name="email" />
  </div>
  <div>
    <label for="password">Password:</label>
    <input [(ngModel)]="selectedUser.password" id="password" placeholder="User Password" type="password" name="password" />
  </div>
  <button (click)="selectedUser && selectedUser.id ? updateUser(selectedUser) : createUser(selectedUser)">
    Save
  </button>
  <button *ngIf="selectedUser && selectedUser.id" (click)="deleteUser(selectedUser)">
    Delete
  </button>
  <button (click)="selectedUser = null">Cancel</button>
</div>
