html, body {
    margin: 0;
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  mat-toolbar {
    flex-shrink: 0;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  .home-image {
    height: calc(100vh - 64px); /* subtract the height of the toolbar (64px) from the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  