<div class="menu-container">
  <mat-toolbar color="primary">
    <span>Art Gallery App</span>
    <span class="spacer"></span>
    <button mat-button [matMenuTriggerFor]="artistsMenu">Artists</button>
    <button mat-button [matMenuTriggerFor]="artFactsMenu">Art Facts</button>
    <button mat-button [matMenuTriggerFor]="usersMenu">Users</button>
    <button mat-button [matMenuTriggerFor]="aboriginalSymbolsMenu">Aboriginal Symbols</button>
  </mat-toolbar>

  <mat-menu #artistsMenu="matMenu">
    <button mat-menu-item routerLink="/artists">Artists</button>
  </mat-menu>

  <mat-menu #artFactsMenu="matMenu">
    <button mat-menu-item routerLink="/art-facts">Art Facts</button>
  </mat-menu>

  <mat-menu #usersMenu="matMenu">
    <button mat-menu-item routerLink="/users">Users</button>
  </mat-menu>

  <mat-menu #aboriginalSymbolsMenu="matMenu">
    <button mat-menu-item routerLink="/aboriginal-symbols">Aboriginal Symbols</button>
  </mat-menu>
</div>

<!-- Spinning image on the landing page -->
<div *ngIf="showSpinner" class="spinner-container">
  <img src="assets/home.jfif" alt="Loading..." class="full-width">
</div>

<div class="router-container">
  <router-outlet (activate)="onActivate()"></router-outlet>
</div>
